.c11__main__wrapper {
    padding-top: 37px;
    padding-left: 4.6%;
    padding-right: 4.6%;
    padding-bottom: 66px;

    @media screen and(min-width:768px) {
        padding-top: 42px;
        padding-bottom: 101px;
        padding-left: 25.3%;
        padding-right: 25.3%;

    }

    .c11__inner__wrapper {
        text-align: center;

        .c11__txt--1 {
            color: $color-main;
            font-size: 24px;

            @media screen and(min-width:768px) {
                font-size: 30px;

            }
        }

        .c11__txt--2sp {
            font-size: 16px;
            text-align: left;
            margin-top: 19px;

            @media screen and(min-width:768px) {
                display: none;
            }
        }

        .c11__txt--2pc {
            display: none;

            @media screen and(min-width:768px) {
                font-size: 16px;
                margin-top: 43px;
                text-align: center;
                display: block;

            }
        }

        .c11__txt--3 {
            margin-top: 18px;
            font-size: 12px;
            text-align: left;


            @media screen and(min-width:768px) {
                text-align: center;
                display: none;

            }
        }

        .c11__txt--3pc {
            margin-top: 18px;
            font-size: 12px;
            text-align: left;
            display: none;

            @media screen and(min-width:768px) {
                text-align: center;
                display: block;

            }
        }


        .c11__checkbox__area__wrapper {
            margin-top: 46px;
            margin-left: 6%;

            @media screen and(min-width:768px) {
                text-align: center;
                margin-left: 0;
            }


            .c11__checkbox__area {
                text-align: left;

                @media screen and(min-width:768px) {
                    display: inline-block;
                    position: relative;
                    right: 10px;

                }

                .c11__checkbox__wrapper--individual:not(:first-child) {

                    margin-top: 32px;

                }
            }

        }



        .c11__btn__wrapper--1 {
            margin-top: 46px;




            .c11__btn--orange1 {
                margin: 0 auto;
                display: block;


            }

            .c11__btn--white1 {
                margin: 20px auto 0 auto;
                display: block;
            }
        }



    }
}

.c11__checkbox__wrapper--individual.check input[type="checkbox"] + label {
    font-size: 16px;
}
