.f11__pic__main__wrapper {

    .f11__pic__txt--pet-infomation-detales {
        color: $color-main;
        text-align: center;
        margin: 42px 0 45px 0;
        font-size: 30px;
        font-weight: $font-weight-base;
        font-family: $font-family-base;

        @media screen and(max-width:768px) {
            font-size: 24px;
            margin: 37px 0 19px 0;
        }
    }

    .f11__pic__btn__warpper--change {
        text-align: right;
        margin-bottom: 10px;

        @media screen and(max-width:768px) {

        }
    }

    .f11__pic__error-maesage {
        display: inline-block;
        background-color: #feece8;
        border-radius: 10px;
        padding: 10px 10px 16px 10px;
        color: $color-alert;
        font-size: 12pt;

        span {
            font-size: 12px;
        }


        @media screen and(min-width:768px) {
            width: 100%;
            padding-top: 15px;
            padding-left: 20px;
            padding-bottom: 18px;
            margin-bottom: 30px;

        }



    }

    .f11__pic__table__wrapper {
        display: inline-block;
        width: 100%;
        margin-bottom: 90px;

        @media screen and(max-width:768px) {
            margin: 10px 0;
            width: 100%;

        }

        .f11__pic__table--pet-infomation {

            .f11__pic__table__text--left {
                width: 26.7%;
                font-size: 12pt;
                line-height: 2rem;

                @media screen and(max-width:768px) {
                    font-size: 86%;
                    width: 39%;
                    line-height: 2rem;
                }
            }

            .f11__pic__table__text--right {
                font-size: 12pt;
                line-height: 2rem;

                @media screen and(max-width:768px) {
                    font-size: 100%;
                    line-height: 2rem;


                }
            }
        }

    }

    .f11__pic__bottom-link {
        display: inline-block;
        margin: 20px 4.6% 66px 4.6%;
        width: 91%;
        text-align: center;
    }
}

#f11__error-text2{
    display: inline-block;
}