

@mixin font-shape($font-color, $font-size: inherit) {
    font-size: $font-size;
    color: $font-color;
    font-weight: normal;
}

@function getExtendClass($compoClass) {
    $splitter: selector-parse($compoClass);
    $self: nth(nth($splitter, 1), length(nth($splitter, 1)));
    @return $self;
}

body.b02 {
    @include font-shape($color-text-main, 1.6rem);
    min-width: 375px;

}

.b02-content {
    width: 100%;
    $self: getExtendClass(&);

    &__title {
        @include font-shape($color-main, 2.4rem);

        text-align: center;
        margin: 0 auto;
        margin-top: 32px;
        margin-bottom: 18px;

        @include mq() {
            margin-top: 36px;
            margin-bottom: 33px;
            font-size: 30px;
        }
    }

    &__store {
        background-color: #F2F5E9;
        width: 100%;
    }
    &__map {
        width: 100%;
    }
}

.b02-storelist {
    list-style: none;
    display: block;
    padding: 10px;

    @include mq() {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 30px 10px 15px 10px;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 30px
    }

    &__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 35px;
        padding-bottom: 45px;

        @include mq() {
            padding-top: 50px;
            padding-bottom: 80px;
        }

        >.most-important-button {
            display: block;
        }

        >.sub-button {
            background-color: RGBA(0, 0, 0, 0);
        }

        >* {
            height: 48px;
        }
    }
}

.b02-store {
    background-color: #FFFFFF;
    border-radius: 10px;

    margin: 10px auto;
    width: 355px;
    height: 217px;
    padding: 20px;

    * {
        line-height: 20px;
    }

    @include mq() {
        margin: 0;
        // flex-basis: 450px;
        width: 100%;
        max-width: 450px;
        height: 237px;
        padding: 30px;

        * {
            line-height: 26px;
        }

    }

    &__name {
        @include font-shape($color-main, 1.6rem);
        margin-bottom: 9px;

        @include mq() {
            font-size: 1.8rem;
        }
    }

    &__info-list {
        @include font-shape($color-text-main, 1.4rem);
        height: 145px;

        @include mq() {
            font-size: 1.6rem;
        }
    }

    &__icon {
        width: 1em;
    }
}

.b02-detail-button {
    margin-top: 20px;


    @include mq() {
        margin-top: 15px;
    }
}

.b02-google-map {
    display: block;
    max-width: 930px;
    margin: 0 auto;
    padding: 16px 0;

    &__map {
        display: block;
        margin-top: 0;
        width: 100%;
        height: 480px;
        border: none;

        @include mq() {
            height: 500px;
        }
    }

    &__button {
        margin: 45px auto;
        max-width: 277px;
    }

    @include mq() {
        margin: 0 auto;
        padding: 31px 0;

        &__map {
            height: 480px;
        }

        &__button {
            width: 277px;
            margin: 40px auto;
        }
    }
}

.b02-address-info {
    &__postal {
        @include font-shape($color-text-main, 16px);
        display: inline-block;
    }

    &__address {
        @include font-shape($color-text-main, 16px);
        margin-left: 19px;
    }
}

.b02-operation-info {

    @include mq() {
        display: flex;
        gap: 5%;
    }

    &__time {
        @include font-shape($color-text-main, 16px);

        span {
            margin-bottom: 5px;
        }
    }

    &__phone {
        @include font-shape($color-text-main, 16px);

        a {
            border-bottom: solid 1px $color-text-main;
            margin-bottom: 5px;
        }
    }
}


.b02-more-info-button {
    &:hover {
        background-color: lighten($color-accent-orange, 20%);
    }

    &::after {
        content: "";
        display: inline-block;
        position: relative;
        right: -16px;
        top: -2px;
        width: 11px;
        height: 11px;
        border-right: $color-background-base 2px solid;
        border-bottom: $color-background-base 2px solid;
        transform: rotate(45deg);
    }
}

.b02-search-button {
    position: relative;
    bottom: 3px;
}

.b02-second-important-button {
    @extend .second-important-button;
    height: 26px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 0;

    >* {
        display: block;
        margin: auto;
    }
}

.none {
    display: none;
}

.b02-tab-box {

    &__label-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        border-bottom: $color-tabwrapper-background 3px solid;
        margin: 0 auto;
        position: relative;
        width: 355px;

        @include mq() {
            width: 100%;

        }

    }

    &__tab-label {
        display: block;
        text-align: center;
        color: $color-main;
        width: 108px;
        padding-bottom: 6px;

        @include mq() {
            width: 151px;
            padding-bottom: 17px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__content {
        @keyframes fade {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
        display: none;
    }
    #label-shop {
        position: relative;

        &::after {
            content: "";
            height: 3px;
            width: 108px;
            position: absolute;
            left: 0;
            bottom: -3px;
            background-color: $color-main;
            transition: 0.5s;

            @include mq() {
                width: 151px;
            }

        }
    }

    #tab-shop:checked~&__label-nav>#label-map {
        color: black;
    }
    #tab-map:checked~&__label-nav>#label-shop {
        color: black;
    }
    #tab-shop:checked~&__label-nav>#label-shop::after {
        left: 0;
        
    }

    #tab-map:checked~&__label-nav>#label-shop::after {
        left: 108px;

        @include mq() {
            left: 151px;
        }
    }

    #tab-shop:checked~#shop-content {
        display: block;

        width: 100vw;
        margin-left: calc(50% - 50vw);
        background-color: $color-thin-green;
    }

    #tab-map:checked~#map-content {
        display: block;
    }

}