
.c04__ch1m__main__wrapper {
    padding-top: 37px;
    padding-left: 4.6%;
    padding-right: 4.6%;
    padding-bottom: 66px;

    @media screen and(min-width:768px) {
        padding-top: 42px;
        padding-bottom: 101px;
        padding-left: 24.7%;
        padding-right: 24.7%;

    }

    .c04__ch1m__inner__wrapper {
        text-align: center;

        .c04__ch1m__txt--1 {
            color: #6F8D1B;
            font-size: 24px;

            @media screen and(min-width:768px) {
                font-size: 30px;
            }
        }

        .c04__ch1m__txt--2 {
            font-size: 16px;
            text-align: left;
            margin-top: 19px;


            @media screen and(min-width:768px) {
                margin-top: 43px;
                text-align: center;
            }
        }

        .c04__ch1m__gray__area {
            margin-top: 26px;
            padding: 12px 12px 22px 12px;
            text-align: left;
            background: #f5f5f5;

            @media screen and(min-width:768px) {
                padding: 30px 50px 38px 50px;
                margin-top: 38px;
            }

            .c04__ch1m__gray__txt--1 {
                font-size: 16px;
            }
        }

        .c04__ch1m__txt--3 {
            font-size: 12px;
            margin-top: 12px;
            text-align: left;

            @media screen and(min-width:768px) {
                margin-top: 21px;
            }
        }

        .c04__ch1m__anchor-text {
            margin-top: 35px;

            @media screen and(min-width:768px) {
                margin-top: 45px;
            }
        }




    }
}