.main__underline{
  display: block;
  width: 100%;
  height: 1px;
  background-color: #EEEEEE;
  border: 0; 
}

.main__pets__information__confirm{
  width: 90%;
  margin: auto;
}
.main__pets__information__confirm__title{
  display: flex;
  justify-content: center;
  color: #6F8D1B;
  font-weight: 100;
  font-size: 2.4rem;
  margin: 32px 0 16px 0;
}
.main__pets__information__confirm__text{
  text-align: left;
  font-size: 1.6rem;
  margin: 0 0 23px 0;
}
.main__pets__information__confirm__table{
  margin: 0 auto;
  & th{
    width: 133px;
    height: 42px;
    padding: 13px 15px 14px 15px;
  }
  & td{
    display: flex;
    font-size: 1.4rem;
    padding: 12px 15px;
  }
  & .birthday-old{
    padding: 0 15px 18px 15px;
  }
  & .longcell-title{
    line-height: 1.5;
  }
  & .longcell-text{
    display: table-cell;
  }
}
.main__pets__information__confirm__button{
  display: flex;
  justify-content: center;
  margin: 30px 0 20px 0;
}
.main__pets__information__confirm__button-sub{
  display: flex;
  justify-content: center;
  margin: 0 0 66px 0;
}


@media screen and (min-width: 768px) {
  .main__pets__information__confirm__title{
    font-size: 3.0rem;
    margin: 36px 0 29px 0;
  }
  .main__pets__information__confirm{
    width: 73%;
    margin: auto;
  }
  .main__pets__information__confirm__text{
    text-align: center;
    margin: 0 auto 43px auto;
    text-align: center;
  }
  .main__pets__information__confirm__table{
    & th{
      width: 248px;
      font-size: 1.6rem;
      padding: 13px 20px 16px 20px;
    }
    & td{
      font-size: 1.6rem;
      display: inline-block;
      padding: 13px 20px 16px 20px;
    }
    & .birthday-old{
      padding: 13px 0 16px 0;
    }
    & .longcell-text{
      display: table-cell;
    }
  }
  .main__pets__information__confirm__button{
    margin: 40px 0 20px 0;
  }
  .main__pets__information__confirm__button-sub{
    margin: 0 0 101px 0;
  }
}