.booking-category-title {
  background-color: $color-bright-green;
  font-size: 1.4rem;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 17px;
  border-radius: 6px 6px 0 0;
}