.checkbox__indicator::after{
    width: 8px !important;
    height: 14px !important;
}
[type="checkbox"]:checked + .checkbox__indicator{
    background-color: #6F8D1B !important;
}
.checkbox__indicator{
    width: 22px !important;
    height: 22px !important;
    top: 2px;
}
.checkbox__wrapper {
    display: flex;
    justify-content: start;
}
.checkbox-text{
    margin-left: 30px !important;
    font-size: 16px !important;
}
.checkbox__label {
    position: relative;
    width: 3rem;
    height: 3rem;
}

.checkbox__invisible {
    display: block !important;
    opacity: 0;
    appearance: none;
    position: absolute;
}

.checkbox__indicator {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border: 1px solid $color-border-gray;
    border-radius: 0.5rem;

    &::after {
        content: "";
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        border: solid $color-main;
        border-width: 0 2px 2px 0;
        width: 1rem;
        height: 2rem;
        display: none;
    }
}

[type="checkbox"]:checked + .checkbox__indicator {
    &::after {
        display: block;
    }
}

[type="checkbox"]:focus + .checkbox__indicator {
    border-color: $color-main;
}
