.send__section {

}

.text__wrapper--send {
    display: flex;
    justify-content: start;
}

.text__contents {
    width: 30rem;
    height: 5rem;
    padding: 1rem;
    border-top: 0.1rem solid $color-border-gray;
    border-bottom: 0.1rem solid $color-border-gray;
    border-left: 0.1rem solid $color-border-gray;
    border-radius: 0.5rem 0 0 0.5rem;
}

.button__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 5rem;
    padding: 1rem;
    background-color: $color-main;
    border-radius: 0 0.5rem 0.5rem 0;
}

.send__button {
    color: #fff;
    font-weight: 900;
}
