
@import "./_modules.scss";

@mixin font-shape($font-color, $font-size: inherit, $font-family: nth($font-family-base, 1)) {
    font-size: $font-size;
    color: $font-color;
    font-weight: normal;
    font-family: $font-family, nth($font-family-base, 3);
}

@function getExtendClass($compoClass) {
    $splitter: selector-parse($compoClass);
    $self: nth(nth($splitter, 1), length(nth($splitter, 1)));
    @return $self;
}

.f09-anchor-text {
    @extend .anchor-text;
    $self: getExtendClass(&);
    display: block;
    margin: 35px auto 45px auto;
    width: 117px;
    font-size: 1.4rem;

    @include mq() {
        width: 130px;
        margin: 40px auto 80px auto;
        font-size: 1.6rem;

    }

    &::before {
        content: "";
        display: inline-block;
        margin-right: 10px;
        border: 0px;
        border-top: solid 1px $color-main;
        border-right: solid 1px $color-main;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg) translateY(-50%);
        width: 8px;
        height: 8px;
    }

    &--back {
        @extend #{$self};
        margin-bottom: 66px;

        @include mq() {
            margin-bottom: 101px;

        }
    }
}

body.f09 {
    @include font-shape($color-text-main, 1.6rem);
    min-width: 375px;

    & input,
    & select {
        font-size: 1.4rem;
        &::placeholder {
            color: $color-switch-off;
        }
    }

    & .inactive {
        background-color: $color-switch-off;
    }
}

.f09-content {
    margin: 0 auto;
    width: 375px;
    $self: getExtendClass(&);

    @include mq() {
        box-sizing: content-box;
        width: 100%;
        margin: 0 auto;
    }

    &__title {
        @include font-shape($color-main, 2.4rem);
        text-align: center;
        margin-top: 32px;
        margin-bottom: 16px;

        @include mq() {
            font-size: 3rem;
            margin-top: 36px;
            margin-bottom: 37px;
        }
    }

    &__note {
        margin-bottom: 30px;
        width: 100%;
        text-align: left;

        @include mq() {
            margin-bottom: 43px;
            text-align: center;
        }
    }

    &__error {
        background-color: rgba($color-alert, 0.1);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;
        $self: getExtendClass(&);

        @include mq() {
            margin: 0;
            margin-bottom: 20px;
            padding: 20px;
        }

    }

    &__formlist {
        list-style: none;
        text-align: left;

        @include mq() {
            padding-left: 10px;
        }
    }
}

.f09-errorlist {
    color: $color-alert;
    list-style-position: inside;
    font-size: 1.4rem;

    >li {
        &::before {
            content: "・";
            width: 3px;
        }
    }

    @include mq() {
        font-size: 1.6rem;
    }
}

.f09-registration-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    $self: getExtendClass(&);

    @include mq() {
        margin-bottom: 35px;
        align-items: center;
        flex-direction: row;
        column-gap: 20px;
    }

    &--name-kanji,
    &--postal,
    &--address,
    &--address-number {
        @extend #{$self};
        margin-bottom: 15px;
    }

    &__title {
        $self: getExtendClass(&);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        margin: 10px 0px;
        align-items: center;

        @include mq() {
            margin: 0;
            flex-basis: 248px;
            align-items: center;
        }

        &--dm {
            @extend #{$self};
            display: inline-block;
            letter-spacing: -0.2rem;

            @include mq() {
                flex-basis: 248px;
                align-items: center;

                >* {
                    display: block;
                }
            }
        }

        &--password {
            @extend #{$self};

            @include mq() {
                position: relative;
                top: -3rem;
            }
        }

        &--representative {
            @extend #{$self};

            @include mq() {
                position: relative;
                top: -1rem;
            }
        }
    }

    &__field {
        $self: getExtendClass(&);

        >* {
            display: inline-block;
        }

        @include mq() {
            flex-basis: 632px;
        }

        &--name,
        &--postal {
            @extend #{$self};
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        &--birth {
            @extend #{$self};
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        &--representative {
            @extend #{$self};
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 24px;
        }

        &--sex {
            @extend #{$self};
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 30px;
        }

        &--dm {
            @extend #{$self};
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 35px;
        }

    }
}

.f09-input {
    &__wrapper {
        @extend .input__wrapper;

        &--name {
            display: flex;
            flex-direction: row;
            margin: 0;
            gap: 20px;
            display: inline-block;

            @include mq() {
                width: 191px;
                flex-basis: 191px;
            }
        }

        &--birth-year {
            width: 100px !important;
        }

        &--birth-month,
        &--birth-day {
            width: 80px !important;
        }

        &--phone {
            width: 340px;
        }

        &--representative {
            margin-bottom: 22px;

            @include mq() {
                margin-bottom: 0px;
            }
        }

        &--relation {
            margin-left: 0;
        }

        &--prefecture {
            width: 120px !important;
            margin-right: 5px;
        }
    }

    &__name--label {
        display: inline-block;
    }

    &__relation--label {
        margin-bottom: 11px;
        display: block;
        letter-spacing: -0.145rem;

        @include mq() {
            margin-bottom: 0px;
            margin-right: 32px;
            display: inline-block;
        }
    }

    &__area {
        $self: getExtendClass(&);
        padding: 1rem;
        border: 0.1rem solid $color-border-gray;
        border-radius: 0.5rem;

        &:focus {
            border: 0.1rem solid $color-focus;
        }

        &--name {
            width: 140px;
            @extend #{$self};

            @include mq() {
                margin-left: 5px;
                width: 161px;
            }
        }

        &--phone,
        &--address,
        &--building,
        &--password {
            @extend #{$self};
            width: 340px;
        }

        &--representative {
            @extend #{$self};
            width: 340px;

            @include mq() {
                width: 230px;
            }
        }

        &--relation {
            @extend #{$self};
            width: 340px;

            @include mq() {
                width: 182px;
            }
        }

        &--postal {
            @extend #{$self};
            width: 120px;
        }

        &--city {
            @extend #{$self};
            width: 211px;
        }
    }
}

.f09-icon-password {
    display: block;
    float: right;
    position: relative;
    z-index: 10;
    top: 14px;
    right: 42px;

    &:hover {
        cursor: pointer;
    }

    @include mq() {
        display: inline;
        float: none;
        top: 0px;
        right: 30px;
    }
}

.f09-button-module {

    &--postal {
        width: 81px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 24px;
        color: #fff;
        background-color: $color-main;
        font-size: 14px;
        font-family: 'Lato';
        padding-top: 1px;
    }
    &--postal:disabled{
        background-color: #888;
    }
}

.f09-radio-button-module {

    &__sentence {
        &::before {
            margin-right: 10px;
        }
    }

}

.f09-certificate-button {
    display: block;
    width: 220px;
    margin: 0 auto;
    margin-bottom: 66px;

    @include mq() {
        margin-bottom: 101px;

    }
}

.f09-caution {
    &--title {
        margin-left: 5px;
        font-size: 1.2rem;
    }

    &--normal {
        font-size: 1.2rem;
    }

    &--representative {
        font-size: 1.2rem;
        display: block;
    }

    &--password {
        font-size: 1.2rem;
        letter-spacing: -1.2px;
        display: block;
        width: 340px;
        position: relative;


        @include mq() {
            position: static;
        }
    }
}

.f09-icon {
    &__wrapper {
        @extend .icon__wrapper;
        $self: getExtendClass(&);

        &--optional {
            @extend .icon__wrapper--optional;
            margin: 0;
        }

        &--required {
            @extend .icon__wrapper--required;
        }

        &--optional,
        &--required {
            width: 32px;
            min-width: 32px;
            height: 17px;
        }

        &--relation {
            display: inline-block;
            text-align: center;
            margin-right: 8px;

            >* {
                position: relative;
                top: -1px;
            }

            @include mq() {
                display: none;
            }
        }
    }
}

.f09-select {
    &__wrapper {
        @extend .select__wrapper;

        &--shevron {
            @extend .select__wrapper--shevron;

            &::after {
                right: 0.5rem;
            }
        }
    }
}