.main__underline{
  display: block;
  width: 100%;
  height: 1px;
  background-color: #EEEEEE;
  border: 0; 
}
.main__pets__information__finish__title{
  display: flex;
  justify-content: center;
  color: #6F8D1B;
  font-weight: 100;
  font-size: 2.4rem;
  margin: 37px 0 19px 0;
}
.main__pets__information__finish__text{
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 38px;
}
.main__pets__information__finish-button-fir{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.main__pets__information__finish-button-sec{
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
}
.main__pets__information__finish-link{
  display: flex;
  justify-content: center;
  margin-bottom: 66px;
}

@media screen and (min-width: 768px) {
  .main__pets__information__finish__title{
    font-size: 3.0rem;
    margin: 42px 0 43px 0;
  }
  .main__pets__information__finish__text{
    margin-bottom: 58px;
  }
  .main__pets__information__finish-button-sec{
    margin-bottom: 45px;
  }
  .main__pets__information__finish-link{
    margin-bottom: 101px;
  }
}