.main__underline{
  color: #707070;
}
.main__password__input__title{
  display: flex;
  justify-content: center;
  color: #6F8D1B;
  font-weight: 100;
  font-size: 2.4rem;
  margin: 32px 0 16px 0;
}
.main__password__input__text{
  font-size: 1.6rem;
  margin-bottom: 13px;
}
.main__password__input__mailtextarea{
  background-color: #F8F8F8;
  font-size: 1.6rem;
  padding: 20px 15px 23px 15px;
  margin: 0 auto 22px auto;
  & .main__item__title{
    margin-bottom: 7px;
  }
  .main__item{text-align: left;}
    
}
.main__password__input__passwordarea{
  margin-bottom: 17px;
}
.main__password__input__passwordarea__title{
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin: 0 0 11px 0;
  & .main__item{
    padding: 0 0 0 7px;
    
  }
  & .icon__wrapper--required{
    width: 32px;
    height: 16px;

  }
}

.main__password__input__passwordarea__input{
  display: flex;
  position: relative;
  & .input__wrapper{
    width: 100%;
    & .input__area--default{
      width: 100%;
      &::placeholder{
        color: #DEDEDE;
      }
    }
  }
}
.main__password__input__icon{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2vw;
  & .icon__wrapper--invisible{
    position: absolute;
    top: 12px;
  }
}
.main__password__input__text-attention{
  font-size: 1.2rem;
  margin: 20px 0 0 0;
  & .hidden-mobile{
    display: none;
  }
}
.main__password__input__button{
  display: flex;
  justify-content: center;
  margin: 31px 0 66px 0;
}


@media screen and (min-width: 768px) {

  .main__password__input{
    & .main__item{
      text-align: center;
    }
  }
  .main__password__input__title{
    font-size: 3.0rem;
    margin: 36px 0 29px 0;
  }
  .main__password__input__text{
    margin-bottom: 0;
  }
  .main__password__input__mailtextarea{
    text-align: center;
    padding: 23px 0 27px 0;
    margin: 23px 0 30px 0;
  }
  .main__password__input__passwordarea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 705px;
    margin: 0 auto 25px auto;
    & .main__password__input__passwordarea__input{
      & .input__wrapper{
        width: 430px;
      }
      & .input__area--default{
        width: 430px;
      }
    }
  }
  .main__password__input__icon{
    right: 1vw;
  }
  .main__password__input__wrap{
    display: flex;
    flex-direction: column;
  }
  .main__password__input__text-attention{
    text-align: center;
    margin: 0 0 72px 0;
    & .hidden-mobile{
      display: block;
    }
  }
  .main__password__input__button{
    order: -1;
    padding: 0;
    margin: 15px 0 30px 0;
  }
}


.e04-icon-password {
  display: block;
  float: right;
  position: relative;
  z-index: 10;
  top: -28px;
  right: 9px;

  &:hover {
      cursor: pointer;
  }

  @include mq() {
      display: inline;
      float: right;
      top: -29px;
      right: 9px;
  }
}

