.f09__mieai__main-wrapper {
    padding-top: 37px;
    padding-bottom: 66px;

    @media screen and(min-width:768px) {
        padding-top: 42px;
        padding-bottom: 101px;
    }

    .f09__mieai__txt--change-email-address {
        font-size: 24px;
        color: $color-main;
        text-align: center;

        @media screen and(min-width:768px) {
            font-size: 30px;
        }
    }

    .f09__mieai__txt--main-paragraph {
        font-size: 16px;
        margin-top: 19px;
    }

    .f09__mieai__wrapper--input-email-address {
        margin-top: 33px;

        @media screen and(min-width:768px) {
            display: block;
            width: 657px;
            margin: auto;
            margin-top: 32px;
        }

        .f09__mieai__wrapper--required-txt {

            @media screen and(min-width:768px) {
                display: inline-block;

            }

            .f09__mieai__wrapper--required {
                display: inline-block;
                text-align: center;
                vertical-align: middle;
            }

            .f09__mieai__txt--email-address {
                display: inline-block;
                margin-left: 6px;

                @media screen and(min-width:768px) {
                    margin-left: 10px;
                }
            }
        }

        .f09__mieai__wrapper--input {
            margin-top: 13px;

            @media screen and(min-width:768px) {
                display: inline-block;
                margin-top: 0;
                margin-left: 27px;
                width: 63.6%;
            }

            .f09__mieai__input__area--email-address {
                width: 100%;
            }
        }
    }
    .f09__mieai__txt--instructions--second {
        margin-top: 10px;
        font-size: 12px;
        margin-right: 4.6%;

        @media screen and(min-width:768px) {
            margin-right: 16%;
            margin-top: 30px;
        }
    }

    .f09__mieai__transmisson-btn {
        margin-top: 35px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @media screen and(min-width:768px) {
            margin-top: 53px;
        }
    }

    .f09__mieai__anchor-txt {
        margin-top: 35px;
        display: block;
        text-align: center;
    }
}
.f09__mieai__wrapper--required{
    margin-bottom: 3px;
}