.e03__fyp__main-wrapper {
    width: 68.1%;
    margin: 0 auto;

    @media screen and(max-width:768px) {
        width: 91%;

    }

    .e03__fyp__txt--reset-password {
        font-size: 24pt;
        color: $color-main;
        font-weight: $font-weight-base;
        font-family: $font-family-base;
        margin-top: 42px;
        text-align: center;

        @media screen and(max-width:768px) {
            margin-top: 37px;
            font-size: 18pt;
        }
    }

    .e03__fyp__txt--main-paragraph {
        margin-top: 43px;

        span {
            color: $color-warning;
        }

        @media screen and(max-width:768px) {
            margin-top: 19px;

        }

    }

    .e03__fyp__txt--instructions-first {
        margin-top: 16px;
        font-size: 12px;


        span {
            color: $color-warning;
        }
    }

    .e03__fyp__wrapper--input-email-address {
        margin-top: 33px;
        text-align: center;

        @media screen and(max-width:768px) {
            margin-top: 30px;
        }

        .e03__fyp__wrapper--required-txt {
            display: inline-block;
            width: 190px;
            text-align: left;

            @media screen and(max-width:940px) {
                display: block;
                margin-bottom: 13px;
                text-align: left;
            }

            .e03__fyp__wrapper--required {
                display: inline-block;
                margin-right: 1.4%;
                text-align: center;

                @media screen and(max-width:940px) {
                    text-align: center;
                }
            }

            .e03__fyp__txt--email-address {
                display: inline-block;
                margin-right: 2.2%;

                @media screen and(max-width:768px) {
                    font-size: 12pt;

                }
            }

        }

        .e03__fyp__wrapper--input {
            display: inline-block;

            @media screen and(max-width:940px) {
                width: 100%;
            }

            .e03__fyp__input__area--email-address {
                width: 430px;

                &::placeholder {
                    color: #dedede;
                }

                @media screen and(max-width:940px) {
                    width: 100%;
                }
            }
        }


    }

    .e03__fyp__wrapper-transmission_cancel-btn {
        margin-top: 40px;

        @media screen and(max-width:768px) {
            margin-top: 30px;

        }

        .e03__fyp__transmisson-btn {
            display: block;
            margin: 0 auto;
        }

        .e03__fyp__cancel-btn {
            display: block;
            margin: 20px auto 0 auto;
        }
    }

    .e03__fyp__txt--instructions--second {
        margin-top: 20px;
        font-size: 12px;
        margin-bottom: 100px;
        

        @media screen and(max-width:768px) {
            margin-bottom: 71px;
            margin-top: 15px;
            text-align: left;
        }
    }
}

@media screen and(min-width:768px) {
    .e03__fyp__txt--main-paragraph ,.e03__fyp__txt--instructions-first, .e03__fyp__txt--instructions--second{
        text-align: center;
    }
}